<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <i class="navbar-logo fas fa-headset fa-3x"></i>
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 font-weight-bold" href="/">Tickets</a>
  <form action="/search" method="GET" class="w-100">

    <input name="q" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  </form>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/signout">Sign Out <%= email %></a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a id="home" class="nav-link" href="/">
              <span data-feather="home"></span>
              My Tickets <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a id="new" class="nav-link" href="/new">
              <span data-feather="file"></span>
              New
            </a>
          </li>

          <li class="nav-item">
            <a id="all" class="nav-link" href="/all">
              <span data-feather="layers"></span>
              All
            </a>
          </li>

          <li class="nav-item">
            <a id="assigned" class="nav-link" href="/assigned">
              <span data-feather="user"></span>
              Assigned
            </a>
          </li>

        </ul>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">
          <%= title %>
        </h1>
      </div>