<% tickets.forEach(function(ticket) { %>

  <div class="col-sm-4 card-extra">
    <div class="card">

      <div class="card-body">

        <span class="badge badge-pill <%= ticket.badge %> float-right ml-3">
          <%= ticket.status %>
        </span>
        <span class="badge badge-pill <%= ticket.prioritybadge %> float-right ml-3">
          <%= ticket.priority %>
        </span>

        <h5 class="card-title">
          <%= ticket.titleTruncated %>
        </h5>
        <p class="card-text">
          <%= ticket.bodyTruncated %>
        </p>
        <a href="/ticket/<%= ticket.id %>" class="btn btn-primary">Go</a>

        <div class="float-right text-right">
          <small>
            <%= ticket.author.email %> <br>
              <%= ticket.date.toDateString() %>, <%= ticket.date.getHours() %>:<%= ticket.date.getMinutes() %>
          </small>
        </div>








      </div>

    </div>
  </div>


  <% }) %>