<%- include('partials/header') %>

  <%- include('partials/dashboard_header') %>

    <div class="row">

      <%- include('partials/tickets') %>


    </div>

    <script>
      $(document).ready(function () {

        $('#home').addClass('active');

      });
    </script>

    <%- include('partials/dashboard_footer') %>
      <%- include('partials/footer') %>