<%- include('partials/header') %>

  <%- include('partials/dashboard_header') %>



    <form method="POST">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="body"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Priority</label><br>
        <select class="form-select form-control" aria-label="Default select example" name="priority">
          <option value="Low">Low</option>
          <option value="Medium" selected>Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>

    <script>
      $(document).ready(function () {

        $('#new').addClass('active');

      });
    </script>

    <%- include('partials/dashboard_footer') %>

      <%- include('partials/footer') %>