<%- include('partials/header') %>

  <%- include('partials/dashboard_header') %>

    <div class="row">

      <%- include('partials/tickets') %>


    </div>

    <%- include('partials/dashboard_footer') %>
      <%- include('partials/footer') %>