<%- include('partials/header') %>

  <form class="form-signin text-center" method="POST">
    <i class="navbar-logo-sign fas fa-headset fa-5x"></i>
    <h1 class="h3 mb-3 font-weight-normal">Tickets</h1>

    <blockquote class="blockquote text-center">
      <p class="mb-0">"Have you tried turning it off and on again?"</p>
      <footer class="blockquote-footer"><cite title="Source Title">The IT Crowd</cite></footer>
    </blockquote>

    <p class="text-warning">
      <%= message %>
    </p>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
      autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
  </form>

  <%- include('partials/footer') %>