<%- include('partials/header') %>

  <form class="form-signin text-center" method="POST">
    <i class="navbar-logo-sign fas fa-headset fa-5x"></i>
    <h1 class="h3 mb-3 font-weight-normal">Tickets</h1>

    <% if (message) { %>
      <p class="text-warning">
        <%= message %>
      </p>
      <% } %>

        <label for="inputName" class="sr-only">Name</label>
        <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
          autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
  </form>

  <%- include('partials/footer') %>