<%- include('partials/header') %>

  <%- include('partials/dashboard_header') %>




    <!-- <%= ticket.body %> -->


    <div class="container">


      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">

          <form id="info" method="post">
            <ul class="list-group mb-3">

              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Reporter</h6>
                  <small class="text-muted">
                    <%= ticket.author.name %>
                  </small>
                </div>
                <span class="text-muted"></span>
              </li>

              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Assignee</h6><span class="text-danger" id="userNotFound"></span>
                  <small class="text-muted">
                    <% if (ticket.assignee) { %>
                      <input name="assignee" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter email" value=<%=ticket.assignee.email %>>
                      <% } else{ %>
                        <input name="assignee" type="email" class="form-control" id="exampleInputEmail1"
                          aria-describedby="emailHelp" placeholder="Enter email">
                        <% } %>


                  </small>
                </div>
                <span class="text-muted"></span>
              </li>

              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Created</h6>
                  <small class="text-muted">
                    <%= ticket.date.toDateString() %>, <%= ticket.date.getHours() %>:<%= ticket.date.getMinutes() %>
                  </small>
                </div>
                <span class="text-muted"></span>
              </li>

              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Priority</h6>
                  <small>
                    <select id='priority-drop' class="form-select form-control-sm" aria-label="Default select example"
                      name="priority">
                      <option value="Low">Low</option>
                      <option value="Medium" selected>Medium</option>
                      <option value="High">High</option>
                    </select>
                  </small>
                </div>
                <span class="text-muted"></span>
              </li>

              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Status</h6>
                  <small>
                    <select id="status-drop" class="form-select form-control-sm" aria-label="Default select example"
                      name="status">
                      <option>Open</option>
                      <option>In Progress</option>
                      <option>Closed</option>
                    </select>
                  </small>
          </form>

        </div>

        <span class="text-success"></span>
        </li>

        </ul>
        </form>
      </div>



      <div class="col-md-8 order-md-1">
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              <%= ticket.body %>
            </p>
          </div>
        </div>
      </div>


    </div>






    <div class="card">
      <div class="card-body">





        <% ticket.comments.forEach(function(comment) { %>

          <small><span class="text-warning">
              <%= comment.user.email %>
            </span>
            <%= comment.date.toDateString() %>, <%= comment.date.getHours() %>:<%= comment.date.getMinutes() %>
          </small>
          <pre><%= comment.body %></pre>
          <hr>

          <% }) %>


            <form id='comment' method='post'>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Comment</button>
            </form>

      </div>
    </div>





    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2021-2022</p>
    </footer>


    </div>


    <script>
      $(document).ready(function () {

        var $form = $('#info');

        $form.change(function () {

          $.post(document.URL, $(this).serialize(), function (data, status) {
            if (data.userNotFound) {
              $('#userNotFound').html('User not found.');
              $('#exampleInputEmail1').select();
            } else {
              $('#userNotFound').html('');
              $('#exampleInputEmail1').blur();
            }
          });
        });

        $("#info").submit(function (e) {
          e.preventDefault();
        });

        $('#priority-drop').val('<%= ticket.priority %>');
        $('#status-drop').val('<%= ticket.status %>');

      });

    </script>

    <%- include('partials/dashboard_footer') %>

      <%- include('partials/footer') %>